{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 style="font-family: 'Times New Roman', Times, serif;color: gold;"><div style="color: white;">Welcome</div> {{request.user.email }}</h2>

    <button class="button-29" id="inbox">Inbox</button>
    <button class="button-29" id="compose">Compose</button>
    <button class="button-29" id="sent">Sent</button>
    <button class="button-29" id="archived">Archived</button>
    <a class="button-29" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
       
    </div>

    <div id="compose-view">
        <h3 id="reply_id">New Email</h3>
        <form id="compose-form">
            <div class="form-group" id="sender-id" >
                From: <input  disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div id="div-compose-recipients"class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}